# Dependencies
node_modules/
package-lock.json
yarn.lock

# Build outputs
dist/
build/
*.o
*.a
*.so

# Python
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.env
venv/
MRI_TASK1/MRI
# IDE
.vscode/
.idea/
/nlsasfs/home/gpucbh/vyakti7/AI_Project/MRI_TASK1/MRI.
*.swp
*.swo
*~

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Temporary files
.tmp/
temp/